<template>
  <v-row no-gutters>
    <v-col
      cols="12"
      class="mb-1"
    >
      <common-input-label
        class="text-left"
        :class="{ 'error--text': $attrs['hide-details'] && $attrs['error-messages'] && $attrs['error-messages'].length > 0 }"
      >
        <slot name="label">
          <span v-if="$attrs.label">{{ $attrs.label }}</span>
        </slot>
      </common-input-label>
    </v-col>

    <v-col
      cols="12"
      class="mt-4"
    >
      <v-slider
        v-bind="{ ...defaultAttrs, ...$attrs, label: '' }"
        v-on="$listeners"
      >
        <template
          v-for="(_, slot) of $slots"
          v-slot:[slot]
        >
          <slot
            v-if="slot !== 'label'"
            :name="slot"
          />
        </template>
      </v-slider>
    </v-col>
  </v-row>
</template>

<script>
  export default {
    name: 'BaseInputSlider',

    props: {
    },

    data () {
      return {
        defaultAttrs: {
          filled: true,
          color: 'primary',
          validateOnBlur: true,
        },
      }
    },
  }
</script>
