<template>
  <v-card-text
    class="trs-card-text"
    v-bind="{ ...defaultAttrs, ...$attrs }"
    v-on="$listeners"
  >
    <slot />
  </v-card-text>
</template>

<script>
  export default {
    name: 'CommonTrsModalCardText',

    props: {
    },

    data () {
      return {
        defaultAttrs: {
        },
      }
    },
  }
</script>

<style lang="scss" scoped>
</style>
