<template>
  <v-tabs
    v-model="internalValue"
    vertical
    hide-slider
    v-bind="$attrs"
    v-on="$listeners"
  >
    <template
      v-for="(_, slot) of $slots"
      v-slot:[slot]
    >
      <slot
        :name="slot"
      />
    </template>
  </v-tabs>
</template>
<script>
  export default {
    name: 'TrsPageNavVertical',
    props: {
      value: {
        validate: () => true,
      },
    },

    computed: {
      internalValue: {
        get () {
          return this.value
        },
        set (val) {
          this.$emit('input', val)
        },
      },
    },
  }
</script>
<style lang="scss" scoped>
  .v-tabs {
    flex: 0;
    border-right: 1px solid var(--v-trsBack-base);
    min-width: 225px;
  }

  ::v-deep .v-tab {
    padding: 0px 24px;
    justify-content: start;
    text-transform: initial;
    &:hover, &:active, &:focus {
      background: transparent !important;
    }
    min-width: 200px;
  }
</style>
