<template>
  <v-list-group
    v-if="pemAllowed"
    :group="group"
    :prepend-icon="item.icon"
    :sub-group="subGroup"
    append-icon="mdi-chevron-down"
    :color="'trsText--text'"
    :style="genStyle"
    class="nav-group-item mx-2"
  >
    <template v-slot:activator>
      <v-list-item-icon
        v-if="text"
        class="v-list-item__icon--text"
        v-text="computedText"
      />

      <v-list-item-avatar
        v-else-if="!!item.avatar"
        class="align-self-center"
        color="grey"
      >
        <v-img :src="item.avatar" />
      </v-list-item-avatar>

      <v-list-item-avatar
        v-else-if="item.avatarText"
        class="align-self-center"
        color="primary"
      >
        <span class="white--text text-h5">{{ item.avatarText.split(' ').map(v => v.slice(0, 1)).join('').toUpperCase() }}</span>
      </v-list-item-avatar>

      <v-list-item-content>
        <v-list-item-title class="group-nav-item">
          {{ item.title }}
        </v-list-item-title>
        <v-list-item-subtitle
          v-if="item.subtitle"
          v-text="item.subtitle"
        />
      </v-list-item-content>
    </template>

    <template v-for="(child, i) in children">
      <common-trs-nav-item-sub-group
        v-if="child.children"
        :key="`sub-group-${i}`"
        :item="child"
        :pem-roles-allowed="child.pemRolesAllowed"
        :pem-roles-unallowed="child.pemRolesUnallowed"
        :pem-when-unallowed="child.pemWhenUnallowed"
      />

      <common-trs-nav-item
        v-else
        :key="`item-${i}`"
        :item="child"
        :pem-roles-allowed="child.pemRolesAllowed"
        :pem-roles-unallowed="child.pemRolesUnallowed"
        :pem-when-unallowed="child.pemWhenUnallowed"
        text
      />
    </template>
  </v-list-group>
</template>

<script>
  // Utilities
  import kebabCase from 'lodash.kebabcase'
  import { mapState } from 'vuex'
  import permissionMixin from '@/components/core/mixins/permission'

  export default {
    name: 'ItemGroup',
    mixins: [permissionMixin],

    inheritAttrs: false,

    props: {
      item: {
        type: Object,
        default: () => ({
          avatar: undefined,
          group: undefined,
          title: undefined,
          children: [],
        }),
      },
      subGroup: {
        type: Boolean,
        default: false,
      },
      text: {
        type: Boolean,
        default: false,
      },
    },

    computed: {
      ...mapState(['barColor']),
      genStyle () {
        return {
          backgroundColor: this.$route.fullPath.startsWith(this.item.group)
            ? this.$vuetify.theme.themes[this.$vuetify.theme.dark ? 'dark' : 'light'].trsBack.base
            : 'inherit',
        }
      },
      children () {
        return this.item.children
          .filter(item => item !== null)
          .map(item => ({
            ...item,
            // to: !item.to ? undefined : `${this.item.group}/${item.to}`,
            to: `${this.item.group}/${item.to}`,
          }))
      },
      computedText () {
        if (!this.item || !this.item.title) return ''

        let text = ''

        this.item.title.split(' ').forEach(val => {
          text += val.substring(0, 1)
        })

        return text
      },
      group () {
        return this.genGroup(this.item.children)
      },
    },

    methods: {
      genGroup (children) {
        return children
          .filter(item => item && item.to)
          .map(item => {
            const parent = item.group || this.item.group
            let group = `${parent}/${kebabCase(item.to)}`

            if (item.children) {
              group = `${group}|${this.genGroup(item.children)}`
            }

            return group
          }).join('|')
      },
    },
  }
</script>

<style lang="scss" scoped>
  ::v-deep .v-list-item {
    min-height: 35px;
    padding: 0px;
  }
  ::v-deep .v-list-item__icon {
    margin-right: 10px!important;
    .icon-user{
      font-size: 18px!important;
    }
  }
  ::v-deep .v-list-group__activator p {
    margin-bottom: 0;
  }
  ::v-deep .v-list-item__title {
    font: normal 400 14px/16px $font-family-base!important;
  }
</style>
