<template>
  <v-card
    flat
    class="pa-2 ma-0"
    v-bind="$attrs"
    v-on="$listeners"
  >
    <slot />
  </v-card>
</template>

<script>
  /**
    <common-common-filter-card>
      <any content>
    </common-common-filter-card>
    */
  export default {
    name: 'BaseCommonCard',

    components: {
    },

    props: {
    },

    data () {
      return {
      }
    },

    computed: {
    },

    watch: {
    },

    methods: {
    },
  }
</script>
<style lang="scss" scoped>
</style>
