.trs-input.v-text-field--filled {
  color: #D7E0E2;
  .v-input__slot {
    background: none !important; 
    border: 2px solid currentColor;
    border-radius: 4px;
    min-height: 60px;
    padding: 0px 16px!important;

    &:before,
    &:after {
      content: none;
    } 
  }
  .v-label--active{
    -webkit-transform: translateY(-9px) scale(0.75);
    transform: translateY(-9px) scale(0.75);
  }
  .trs-input.v-text-field--filled .v-label--active
  &.v-input--is-focused {
    .v-input__slot {
      border: 2px solid currentColor;
      border-radius: 4px;
    }
  }
  input:-webkit-autofill,
  input:-webkit-autofill:hover,
  input:-webkit-autofill:focus,
  input:-webkit-autofill:active {
    -webkit-box-shadow: 0 0 0 30px white inset !important;
  }
  &.error--text{
    .v-text-field__details{
      padding: 0 0px;
    }
  }
}
// .v-input:not(.v-input--is-disabled) input{
//   font-weight: 500!important;
// }
