
@import '~vuetify/src/styles/tools/_rtl.sass'

#core-navigation-drawer
  overflow: visible
  ::v-deep .v-navigation-drawer__content::-webkit-scrollbar-track
    background-color: #F5F5F5

  ::v-deep .v-navigation-drawer__content::-webkit-scrollbar
    width: 5px
    background-color: #F5F5F5

  ::v-deep .v-navigation-drawer__content::-webkit-scrollbar-thumb
    background-color: #cacaca


#core-navigation-drawer
  &.v-navigation-drawer--mini-variant
    .v-list-item
      justify-content: flex-start !important

    .v-list-group--sub-group
      display: block !important

  .v-list-group__header.v-list-item--active:before
    opacity: .24

  .v-list-item--active::before
    opacity: 0

  .v-list-item__icon
    margin-top: 0px
    margin-bottom: 0px
    align-self: center

  .v-list-item
    &__icon--text,
    &__icon:first-child
      justify-content: center
      text-align: center
      width: 20px

      +ltr()
        margin-right: 24px
        margin-left: 12px !important

      +rtl()
        margin-left: 24px
        margin-right: 12px !important

  .v-list--dense
    .v-list-item
      &__icon--text,
      &__icon:first-child
        margin-top: 10px

  .v-list-group--sub-group
    .v-list-item
      +ltr()
        padding-left: 8px

      +rtl()
        padding-right: 8px

    .v-list-group__header
      +ltr()
        padding-right: 0

      +rtl()
        padding-right: 0

      .v-list-item__icon--text
        margin-top: 0px !important
        order: 0

      .v-list-group__header__prepend-icon
        order: 2

        +ltr()
          margin-right: 8px

        +rtl()
          margin-left: 8px
  .v-navigation-drawer__content
    &::-webkit-scrollbar
      height: 0.5em
      width: 0.5em

    &::-webkit-scrollbar-track
      box-shadow: inset 0 0 6px #fafafa

    &::-webkit-scrollbar-thumb
      background-color: #bebebe

    display: flex
    flex-direction: column
    .main-nav-list
      flex: 1
    .app-name-list-item
      flex: initial

  .v-list--nav .v-list-item:not(:last-child):not(:only-child), .v-list--rounded .v-list-item:not(:last-child):not(:only-child)
    margin-bottom: 0px !important

  .v-list-group__header.v-list-item--active:before
    opacity: 0

  .v-list-group
    .v-list-group__items
      padding: 5px
      .v-list-item--active:before
        opacity: 0