.tr-color-bg-dark--back {
  background-color: $tr-color-bg-dark;
}
.tr-color-bg-mediumlight--back {
  background-color: $tr-color-bg-mediumlight;
}
.tr-color-bg-light--back {
  background-color: $tr-color-bg-light;
}
.tr-color-bg-pink-light--back {
  background-color: $tr-color-bg-pink-light;
}