$tr-color-trellis-green: #009F46;
$tr-color-secondary-blue: #0075A1;
$tr-color-text-dark: #394144;
$tr-color-text-regular: #5D686B;
$tr-color-text-light: #8A989B;
$tr-color-bg-dark: #323A3C;
$tr-color-bg-mediumlight: #DAE3E6;
$tr-color-bg-light: #EDF2F3;
$tr-color-error: #E55957;
$tr-color-success: #009F46;
$tr-color-warning: #F6841B;
$tr-color-bg-pink-light: #E559571A;