
.custom-scroll-1::-webkit-scrollbar-track
{
  background-color: #F5F5F5;
}

.custom-scroll-1::-webkit-scrollbar
{
  width: 7px;
  background-color: #F5F5F5;
}

.custom-scroll-1::-webkit-scrollbar-thumb
{
  background-color: #cacaca;
}

.grad-border:before {
  content:"";
  position: absolute;
  height: 10px;
  width: 100%;
  background: linear-gradient(to bottom, rgba(0, 0, 0, 0.1) 0%, rgba(0, 0, 0, 0) 100%);
}

/* Buttons */
.grey-gradient-btn {
  background: linear-gradient(to bottom, rgba(0, 0, 0, 0) 50%, rgba(0, 0, 0, 0.1) 100%);
  border: 1px solid #eaeaea !important;
}

.border-radius-0 {
  border-radius: 0px;
}

.form-template-view-input-row {
  padding-top: 5px;
  padding-bottom: 5px;
  border-bottom: 0.5px solid #cacacaca;
  .form-template-view-input-label {
    font-weight: 600;
    font-size: 1rem;    
  }
}

.v-data-table .v-data-footer {
  .v-data-footer__select {
    margin: 0px;
  }
  .v-select {
    width: 80px !important;
  }
}

.v-tab {
  font-size: 0.8rem;
  letter-spacing: 0;
  font-weight: 600;
}

.text-overflow-ellipsis {
  text-overflow: ellipsis;
}

.white-space-nowrap {
  white-space: nowrap;  
}

.overflow-ellipsis {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.trs-carousel-header {
  background-color: #FFF;
}

//table card container
.trs-table-container-card { 
  border-radius:0px !important;
  padding: 24px;
}
.v-window-item--active {
  .container {
    .flex-fill {
      &.pr-md-10 {
       min-height: calc(100vh - 80px);
      }
    }
  }
}
.font-weight-semibold {
  font-weight: 600!important;
}

.v-dialog {
  .trs-card-title {
    position: sticky;
    top: 0px;
    z-index: 9999;
  }
   
}

//all page header title with icons font size
.app-page-header-v2 {
  .icon-with-title {
   .v-icon, .icon {
      font-size: 28px!important;     
    }
  }
}