.trs-form-container-card {
  border: 1px solid #d7e0e2 !important;
}
 
.trs-form-container-card .v-card__text {
  justify-content: space-around !important;
  display: flex !important;
  width: 100% !important;
  padding-top: 28px !important;
}

.trs-form-container-card .v-form {
  width: 700px !important;
}