.v-dialog
  .v-card
    margin: 0
    .v-card__title.trs-card-title
      font-weight: 300
      font-size: 18px
      display: inline-block
      text-align: center
      width: 100%
      padding: 10px
      .v-icon
        position: relative
        top: 0px
        right: 0px
        color: currentColor
        opacity: 1

    .v-card__text.trs-card-text
      padding: 15px 20px

    .v-card__text.trs-card-text::-webkit-scrollbar-track
      background-color: #F5F5F5
    .v-card__text.trs-card-text::-webkit-scrollbar
      width: 7px
      background-color: #F5F5F5
    .v-card__text.trs-card-text::-webkit-scrollbar-thumb
      background-color: #cacaca

    .v-card__actions.trs-card-actions
      padding: 10px
      border-top: 1px solid
      border-color: rgb(0, 0, 0, 0.1)

.v-dialog--scrollable > .v-card .trs-card__text-action-wrapper
  overflow: auto
  display: flex
  flex-direction: column
  flex: 1
  .v-card__text.trs-card-text
    flex: 1
    overflow: auto
  .v-card__actions.trs-card-actions
    flex: 0 0 auto


.v-dialog > .v-card > .v-card__text.trs-card-title
  font-weight: 300
  line-height: 1.75em
  letter-spacing: 0
