.tr-color-text-dark--text {
  color: $tr-color-text-dark;
}
.tr-color-text-regular--text {
  color: $tr-color-text-regular;
}
.tr-color-text-light--text {
  color: $tr-color-text-light;
}
.tr-color-trellis-green--text {
  color: $tr-color-trellis-green;
}
.tr-color-secondary-blue--text {
  color: $tr-color-secondary-blue;
}
.tr-color-error--text {
  color: $tr-color-error;
}
.tr-color-success--text {
  color: $tr-color-success;
}
.tr-color-warning--text {
  color: $tr-color-warning;
}