.cursor-pointer {
  cursor: pointer
}

.hr--light {
  border: 1px solid var(--v-trsBack-lighten1);
}

.p-absolute {
  position: absolute;
}

.p-relative {
  position: relative;
}

.p-fixed {
  position: fixed;
}

.txt-ellipsis{
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.truncate-overflow {
  position: relative;
  max-height: 1rem;
  overflow: hidden;
  padding-right: 1rem; /* space for ellipsis */
}
.truncate-overflow::before {
  position: absolute;
  content: "...";
  /* tempting... but shows when lines == content */
  /* top: calc(var(--lh) * (var(--max-lines) - 1)); */
  /*
  inset-block-end: 0;
  inset-inline-end: 0;
  */
  bottom: 0;
  right: 0;
}
.truncate-overflow::after {
  content: "";
  position: absolute;
  /*
  inset-inline-end: 0;
  */
  right: 0;
  /* missing bottom on purpose*/
  width: 1rem;
  height: 1.2rem;
  background: white;
}

@media print
{
  .no-print, .no-print *
  {
    visibility: hidden;
  }
  .no-print-hidden, .no-print-hidden *
  {
    display: none !important;
    visibility: hidden;
  }
}