$font-size-root: 16px;
$sheet-border-radius: 4px;
$list-item-title-font-size: 0.929rem;
$list-item-dense-title-font-size: 0.929rem;
$list-item-dense-title-font-weight: initial;
$fab-icon-sizes: ( small: 20 );
$btn-font-sizes: ( default: 1rem, large: 1rem );
$btn-sizes: ( default: 30, large: 41, small: 28 );
$btn-letter-spacing: 0;
$btn-font-weight: 400;
$card-text-font-size: 16px;
$btn-border-radius: 3px;
$font-family-base: "Montserrat",sans-serif;
$body-font-family:  "Montserrat",sans-serif;

$headings: (
  'h1': (
    'size': 3.3125rem,
    'line-height': 1.15em
  ),
  'h2': (
    'size': 2.25rem,
    'line-height': 1.5em
  ),
  'h3': (
    'size': 1.5rem,
    'line-height': 1.7em,
  ),
  'h4': (
    'size': 1.125rem,
    'line-height': 1.5em,
  ),
  'h5': (
    'size': 1rem,
    'line-height': 1.25em,
  ),
  'h6': (
    'size': .75rem
  ),
  'subtitle-2': ( 'size': 1rem ),
  'overline': ( 'letter-spacing': 0 )
);
